
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Voila!
                </h1>
            </div>
        </div>



    <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-rounded" ng-src="img/ankPick.JPG" >
            </div>

            <div class="col-md-6">
                <div itemscope itemtype="http://data-vocabulary.org/Person"><p>
                    Howdy. My name is <span itemprop="name">Ankit Rai</span> and I am a full stack Software Engineer based from Bhopal, the City of Lakes.

                    I am passionate about data structures, algorithms, system architecture, scalability and highly available distributed systems.

                    I create awesome applications that are fast, optimized and provide better user experiences.
                </p></div>

                <div>
                <p>
                    I work at <del>TCS</del>, <del>Amdocs</del>, <del>Eaton</del>, PayPal and mainly code in JavaScript and Java.

                    Every app I build is a new challenge to develop something unique and usable. I pay attention to the small details; every pixel matters to me.
                </p>
                </div>

                <div><p>
                   Check out my latest application <a href="https://noteshelf.ankitrai.com/" target="_blank">NoteShelf</a>. NoteShelf is a smart way to create and manage rich text-based notes. This is an end-to-end application developed with Angular 7 in front-end, hosted on firebase platform and in Spring-Boot REST service at the back-end which is being served along with Database and Cache System from Amazon Web Services.
                </p></div>

                <div><p>Other than all of this I am a Linkin Park fan and Tyler Durden follower.
                </p></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
