
    <div class="container">
        
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Voila!
                </h1>
            </div>
        </div>
    
    

    <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-rounded" ng-src="img/ankPick.JPG" >
            </div>
            
            <div class="col-md-6">
                <div itemscope itemtype="http://data-vocabulary.org/Person"><p>
                    Howdy. My name is <span itemprop="name">Ankit Rai</span> and I am a full stack developer based in Bhopal, the City of Lakes.
                    I am a certified Java professional with a rich knowledge and experience in programming and web technologies.
                    My passion is to create awesome web applications that are fast, optimized and provide better user experiences.
                </p></div>
                
                <div><p>
                   Every web app I build is a new challenge to develop something unique and usable. I pay attention to the small details;                           every pixel matters to me. I also believe in open web standards and develop with the latest web technologies.
                </p></div>
                
                <div><p>Other than all of this I am a Linkin Park fan and Tyler Durden follower.
                </p></div>
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->    