<!-- Footer -->
    <footer>
        <div class="container">
            
            <div class="row">
                     
                <div class="col-lg-12 text-center">
                        
                    <ul class="nav navbar-nav nav-pills alignCentral" style="">
                        <li role="presentation" >
                            <a href="https://github.com/a2ankitrai" target="_blank">
                                <i class="fa fa-github fa-4x"></i>
                            </a>
                         </li>
                         
                         <li role="presentation" >
                            <a href="mailto:connect@ankitrai.com" target="_blank">
                                <i class="fa fa-envelope-o fa-4x"></i>
                             </a>
                                    
                         </li>
                         <li role="presentation" >
                            <a href="https://in.linkedin.com/in/a2ankitrai" target="_blank">
                                <i class="fa fa-linkedin-square fa-4x"></i>
                             </a>
                         </li>
                         <li role="presentation" >
                            <a href="https://plus.google.com/+AnkitRai_a2" target="_blank">
                                <i class="fa fa-google-plus-square fa-4x"></i>
                            </a>
                         </li>
                         <li role="presentation" >
                            <a href="https://www.facebook.com/a2.ankitrai"  target="_blank">
                                <i class="fa fa-facebook-square fa-4x"></i>
                             </a>
                         </li>
                    </ul>
                     
                    <h4>Copyright &copy; Ankit Rai 2017</h4>
                </div>
                
            </div>
        </div>    
</footer>